<a href="https://colab.research.google.com/github/spencerduberry/Python_csv/blob/main/Binarisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df["gender_binarized"] = df["gender"].apply(lambda x: 1 if x == "male" else 0)

print(df.head(20))

    gender race/ethnicity parental level of education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced
19  female        group C          associate's degree  free/reduced

   test preparation course  math score  reading score  writing score  \
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52
11                    none          40             52             43
12                    none          65             81             73
13               completed          78             72             70
14                    none          50             53             58
15                    none          69             75             78
16                    none          88             89             86
17                    none          18             32             28
18               completed          46             42             46
19                    none          54             58             61

    gender_binarized
0                  0
1                  0
2                  0
3                  1
4                  1
5                  0
6                  0
7                  1
8                  1
9                  0
10                 1
11                 1
12                 0
13                 1
14                 0
15                 0
16                 1
17                 0
18                 1
19                 0