<a href="https://colab.research.google.com/github/spencerduberry/Python_csv/blob/main/Aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

file_path = '/content/Online Retail.csv'
df = pd.read_csv(file_path)

print(df.head())

df['TotalAmount'] = df['UnitPrice'] * df['Quantity']

result = df.groupby('CustomerID')['TotalAmount'].sum().reset_index()

result.columns = ['CustomerID', 'TotalAmountSpent']

print(result)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country
0  01/12/2010 08:26       2.55     17850.0  United Kingdom
1  01/12/2010 08:26       3.39     17850.0  United Kingdom
2  01/12/2010 08:26       2.75     17850.0  United Kingdom
3  01/12/2010 08:26       3.39     17850.0  United Kingdom
4  01/12/2010 08:26       3.39     17850.0  United Kingdom
      CustomerID  TotalAmountSpent
0        12346.0              0.00
1        12347.0           4310.00
2        12348.0           1797.24
3        12349.0           1757.55
4        12350.0            334.40
...          ...               ...
4367     18280.0            180.60
4368     18281.0             80.82
4369     18282.0            176.60
4370     18283.0           2094.88
4371     18287.0           1837.28

[4372 rows x 2 columns]