In [1]:
import pandas as pd

df = pd.read_csv("Summative Data.csv")

print(df.head())  # prints first few to confirm file is correct

unique_categories = df[
    "Geography"
].unique()  # creates variable to hold unique categories, using .unique function

print("Unique categories in 'Geography':", unique_categories)

        ID  Exited  gender  age  term_deposit  Car  Property Geography  \
0  5008804       1  Female   42             0    1         1    Greece
1  5008806       0  Female   41             0    1         1     Spain
2  5008808       1  Female   42             0    0         1    Greece
3  5008812       0  Female   39             0    0         1    Greece
4  5008815       0  Female   43             0    1         1     Spain

   cr_score  tenure  ...  Acc_length  Total_income  credit_card  \
0       619       2  ...          15      427500.0            1
1       608       1  ...          29      112500.0            0
2       502       8  ...           4      270000.0            1
3       699       1  ...          20      283500.0            0
4       850       2  ...           5      270000.0            1

   Years_employed           Income_type                 Education_type  \
0       12.435574               Working               Higher education
1        3.104787               Working  Secondary / secondary special
2        8.353354  Commercial associate  Secondary / secondary special
3        0.000000             Pensioner               Higher education
4        2.105450               Working               Higher education

          Family_status       Housing_type Occupation_type Target
0        Civil marriage   Rented apartment           Other      1
1               Married  House / apartment  Security staff      0
2  Single / not married  House / apartment     Sales staff      0
3             Separated  House / apartment           Other      0
4               Married  House / apartment     Accountants      0

[5 rows x 23 columns]
Unique categories in 'Geography': ['Greece' 'Spain' 'Netherlands']